.lang-switch a {
    font-weight: 300;
}

abbr {
    font-style: italic;
}

sup {
    font-size: 80%;
}

.entry-cover img {
    border-radius: var(--radius);
    pointer-events: none;
    width: 100%;
    object-fit: cover;
    height: 300px;
}