.lang-switch a {
    font-weight: 300;
}

abbr {
    font-style: italic;
}

sup {
    font-size: 80%;
}

.entry-cover img {
    border-radius: var(--radius);
    pointer-events: none;
    width: 100%;
    object-fit: cover;
    height: 300px;
}

@media screen and (max-width: 549px) {
    .main {
        min-height: calc(100vh - var(--header-height) * 2 - var(--footer-height));
    }
}

.main .profile {
    min-height: calc(100vh - var(--header-height) * 2 - var(--footer-height) - (var(--gap) * 2));
}